.JoinForm {
	border-top: 5vh;
	border-bottom: 5vh;
	border-style: solid;
	border-color: white;
	border-radius: 5vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5vh 5vw 0vw 5vw;
}