.Listening {
	background-color: white;
	margin: 5vh 5vw 5vh 5vw;
	border-radius: 5vh;
}

.Listening__Content {
	padding:5vh 5vw 5vh 5vw;
}

.Listening__Test {
	display: flex;
	flex-direction: column;
}

.Listening_Audio {
	margin-top: 20px;
	margin-bottom: 20px;
}

.Listening__Question {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Listening__Question__Number {
	margin-right: 3px;
}