.Test-Finish {
	background-color: white;
	margin: 5vh 5vw 5vh 5vw;
	border-radius: 5vh;
}

.Test-Finish_Header {
	padding-bottom: 20px;
}

.Test-Finish_Header_Text {
	text-align: center;
	padding-top: 5vh;
	padding-left: 15vw;
	padding-right: 15vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Test-Finish_Results {
	margin-bottom: 5vh;
}

.Test-Finish_Header_Join {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	box-sizing: border-box;
}