.Form_Join {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 5vh;
	margin-top: 5vh;
	max-width: 100%;
	height: 30px;
}

.Join_App {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}